/* En commun avec l'index */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
}

section {
    margin: 50px 0
}

h1 a {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1 a>span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
    ;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

nav a {
    color: black;
}

li a:hover {
    color: #B1663C;
}



footer nav ul {
    display: flex;
    padding: 2em;
    justify-content: flex-end;
}

/* Spécifique à la page Log-in */

body {
    background-color: #FFFEF8;
}

#nav-login{
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#LogIn {
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

#LogIn form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#LogIn h2 {
    margin-bottom: 37px;
}

#LogIn #input_text {
    display: flex;
    flex-direction: column;

}

#LogIn label {
    font-family: 'Work Sans';
    margin: 30px 0 7px 0;
    color: #3D3D3D;
}

#LogIn #e-mail,
#mot-de-passe {
    width: 379px;
    height: 51px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: transparent;
}

#LogIn input[type="submit"] {
    margin: 37px 0 28px 0;
    font-weight: 700;
    color: #FFFEF8;
    background-color: #1D6154;
    border: none;
    width: 179px;
    height: 36px;
    border-radius: 60px;
}

#LogIn a {
    color: #3D3D3D;
    text-decoration: underline;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-sizing: border-box;
    background-color: white;
}

/* Log-In invalide */

#LogIn_invalide{
    display: none;
    margin-top: 25px;
    width: 65%;
    color: rgb(214, 87, 87);
}

#Erreur_Serveur{
    display: none;
    margin-top: 25px;
    width: 65%;
    color: rgb(214, 87, 87);
}